@import './config.scss';

$mobileSidebarWidth: $sidebarWidth * 0.82;

@media (max-width: $MQMobileNarrow) {
  #{$contentClass} {
    div[class*="language-"] {
      margin: 0.85rem -1.5rem;
      border-radius: 0;
    }
  }
}
