<html>
  <head>
  	<title><%= title %></title>
    <link rel="icon" type="image/png" href="images/favicon.png">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="<%= title %>" /> 
    <meta property="og:type" content="website" />
    <meta property="og:image" content="images/favicon.png" />
    <meta property="og:description" content="<%= description ? description : 'Sutta·Sutta is a website dedicated to the parallel reading of Buddhist Pāli Suttas between Pāli, English, Chinese, and Literary Chinese. / Sutta·Sutta 是一個方便讀者平行閱讀佛教巴利文經典的網站，版本包括巴利文、英文、中文及文言' %>"/>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/css/bootstrap.css" media="all" rel="stylesheet" type="text/css"/>
    <link href="styles/main.css" media="all" rel="stylesheet" type="text/css"/>
  </head>
  <body>
    <header>
      <h1 class="logo display"><a href="/">Sutta <span class="dot">·</span> Sutta</a></h1>
    </header>