@import url("https://fonts.googleapis.com/css?family=Gentium+Basic");
@import url("https://fonts.googleapis.com/css?family=Assistant");
@font-face {
  font-family: 'source-serif';
  src: url("https://jdh8.github.io/source-han-serif/SourceHanSerifTW-Regular.woff");
  font-weight: 400;
}
html {
  font-size: 16px;
}

body {
  color: #3a342c;
  background-color: #f8f8f7;
  font-family: 'Gentium Basic', serif;
}

header .logo {
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: 1.5rem;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  color: #888077;
}

.content {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  background-color: #fff;
}

.display {
  font-family: 'Assistant', sans-serif;
}

.chi, .chi-lit {
  font-family: 'Gentium Basic', 'source-serif', serif;
  font-size: 0.89em;
  line-height: 1.5rem;
}

.row {
  margin-bottom: 1.5rem;
}

.box {
  border-right: 1px solid #ebe6e0;
}
.box:last-child {
  border-right: none;
}
.box p:last-child {
  margin-bottom: 0;
}

p {
  white-space: pre-wrap;
  /* These are technically the same, but use both */
  overflow-wrap: break-word;
  word-wrap: break-word;
  -ms-word-break: break-all;
  /* Instead use this non-standard one: */
  word-break: break-word;
  /* Adds a hyphen where the word breaks, if supported (No Blink) */
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}
